<div class="container products_by_category">
  <div class="row">
    <div class="col d-flex flex-lg-row flex-column align-items-center justify-content-end">
      <div class="featured">
        <div class="tabbed_container">
          <!-- Product Panel -->
          <div class="product_panel panel active">
            <div class="featured_slider_products_by_category slider">
              <div *ngFor="let item of products" class="featured_slider_item">
                <app-item-product [name]="item.name" [price]="item.price" [image]="item.images[0]['name']"></app-item-product>
              </div>
            </div>
            <div class="featured_slider_dots_cover"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-preloader></app-preloader>

