<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-8">
    <form id="auth" [formGroup]="regForm" (ngSubmit)="onSubmit()" class="form-horizontal p-col-12">
      <div class="row">
        <div class="col-md-6">
          <app-validator-message [field]="regForm.get('username')"></app-validator-message>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-pw pi-user"></i></span>
            <input (keyup)="inputChange()" type="text" pInputText placeholder="username" formControlName="username">
          </div>
        </div>
        <div class="col-md-6">
          <app-validator-message [field]="regForm.get('email')"></app-validator-message>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-pw pi-user"></i></span>
            <input (keyup)="inputChange()" type="text" pInputText placeholder="email" formControlName="email">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <app-validator-message [field]="regForm.get('password')"></app-validator-message>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-pw pi-envelope"></i></span>
            <input (keyup)="inputChange()" type="text" pInputText placeholder="password" formControlName="password">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <app-validator-message [field]="regForm.get('firstName')"></app-validator-message>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-pw pi-user"></i></span>
            <input (keyup)="inputChange()" type="text" pInputText placeholder="firstName" formControlName="firstName">
          </div>
        </div>
        <div class="col-md-6">
          <app-validator-message [field]="regForm.get('lastName')"></app-validator-message>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-pw pi-user"></i></span>
            <input (keyup)="inputChange()" type="text" pInputText placeholder="lastName" formControlName="lastName">
          </div>
        </div>
      </div>
      <!-- Buttons -->
      <div class="row">
        <div class="col-md-12">
          <button *ngIf="regForm.invalid" pButton type="submit" disabled label="Регистрация"></button>
          <button *ngIf="regForm.valid" pButton type="submit" label="Регистрация"></button>
        </div>
      </div>
    </form>
  </div>
</div>

