<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li *ngFor="let item of products; let i = index"
              data-target="#carouselExampleIndicators" [attr.data-slide-to]="i"
              [ngClass]="{'active': i == 0}" class=""></li>
        </ol>
        <div class="carousel-inner">
          <div *ngFor="let productBlock of products; let i = index" [ngClass]="{'active': i == 0}" class="carousel-item">
            <div class="row">
              <div *ngFor="let item of productBlock" class="col-md-4">
                <app-card-order
                  [id]="item.id"
                  [name]="item.name"
                  [description]="item.description"
                  [price]="item.price"
                  [discount]="item.discount"
                  [amount]="item.amount"
                  [productNumber]="item.productNumber"
                  [image]="item.images"></app-card-order>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-md-4 text-left">
      <h2>Оформление заказа</h2>
      <form role="form" class="form-reg" id="registration-form" action="/orders/index" method="post">
        <div style="display:none"><input type="hidden" value="cb07ad2b8adb8903d979b21f213b95ef774604bb" name="YII_CSRF_TOKEN"></div>
        <p class="note text-left"><span class="required">*</span> Обязательные поля.</p>
        <div class="form-group row">
          <div class="col-md-12 text-left">
            <span class="glyphicon glyphicon-user"></span>
            <label for="Orders_username" class="required">Имя <span class="required">*</span></label>
            <input class="form-control" placeholder="Анатолий" name="Orders[username]" id="Orders_username" type="text" maxlength="32">
            <div class="errorMessage" id="Orders_username_em_" style="display:none"></div>
            <span class="help-block text-left"><span class="glyphicon glyphicon-info-sign"></span>Укажите Ваше имя.</span>
          </div>
          <div class="col-md-12 text-left">
            <span class="glyphicon glyphicon-envelope"></span>
            <label for="Orders_email" class="required">Email <span class="required">*</span></label>
            <input class="form-control" placeholder="example@mail.ru" name="Orders[email]" id="Orders_email" type="text">
            <div class="errorMessage" id="Orders_email_em_" style="display:none"></div>
            <span class="help-block text-left"><span class="glyphicon glyphicon-info-sign"></span>Ваш <b>email</b> адрес.</span>
          </div>
          <div class="col-md-12 text-left">
            <span class="glyphicon glyphicon-earphone"></span>
            <label for="Orders_phone" class="required">Phone <span class="required">*</span></label>
            <input class="form-control phone" placeholder="+7 (909) 878-87-88" name="Orders[phone]" id="Orders_phone" type="text" maxlength="18">
            <div class="errorMessage" id="Orders_phone_em_" style="display:none"></div>
            <span class="help-block text-left"><span class="glyphicon glyphicon-info-sign"></span>Ваш телефонный номер.</span>
          </div>
        </div>
        <div class="text-left">
          <button type="button" class="btn btn-success">Заказать</button>
        </div>
      </form>        <!-- form -->
    </div>
  </div>
</div>
