<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li *ngFor="let item of products; let i = index"
              data-target="#carouselExampleIndicators" [attr.data-slide-to]="i"
              [ngClass]="{'active': i == 0}" class=""></li>
        </ol>
        <div class="carousel-inner">
          <div *ngFor="let productBlock of products; let i = index" [ngClass]="{'active': i == 0}" class="carousel-item">
            <div class="row">
              <div *ngFor="let item of productBlock" class="col-md-4">
                <app-card-order
                  [id]="item.id"
                  [name]="item.name"
                  [description]="item.description"
                  [price]="item.price"
                  [discount]="item.discount"
                  [amount]="item.amount"
                  [productNumber]="item.productNumber"
                  [image]="item.images[0]['name']"></app-card-order>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-md-4 text-left">
      <h2>Оформление заказа</h2>
      <p-message *ngIf="!authService.getIsLogged()" severity="error" text="Для проведения заказа необходимо авторизоваться."></p-message>
      <form  [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="form-order">
        <div class="form-group row">
          <div class="col-md-12 text-left">
            <span class="glyphicon glyphicon-earphone"></span>
            <label class="required">Адрес доставки <span class="required">*</span></label>
            <textarea class="form-control phone" placeholder="Voronezh 60 Army Street" formControlName="address" pInputTextarea></textarea>
            <span class="help-block text-left"><span class="glyphicon glyphicon-info-sign"></span>Адрес по которому будет доставлен товар.</span>
          </div>
        </div>
        <div class="text-left">
          <button *ngIf="orderForm.invalid" pButton type="submit" disabled label="Заказать"></button>
          <button *ngIf="orderForm.valid" pButton type="submit" label="Заказать"></button>
        </div>
      </form>        <!-- form -->
    </div>
  </div>
</div>
